<div ng-app="myApp" ng-controller="loginController" ng-submit="submit()" >
<form class="loginup">
  <h1>ĐĂNG NHẬP</h1>
  <input class="inputtext" placeholder="Tên đăng nhập" type="text" ng-model="regObj.Username" required="required">
  <input class="inputtext" placeholder="Mật khẩu" type="password" ng-model="regObj.Password" required="required">
  <button type ="submit" class="btnDNDK" >Đăng nhập</button>
</form>
    <!-- <table>
        <tr>
            <th>username</th>
                <th>password</th>
                    <th>fullname</th>
        </tr>

        <!-- <tr ng-repeat="Students in arrStudents">
            <td>{{Students.username}}</td>
                <td>{{Students.password}}</td>
                    <td>{{Students.fullname}}</td>
        </tr> -->
    <!-- </table> -->

</div>
