<div  class="card">
   <div class="card-header">
     <i class="material-icons" style="position:absolute;">school</i><strong style="margin-left:30px">{{subjectName}}</strong>
     <span id="clockQuiz">{{min}}:{{sec}}</span>
   </div>
   <div class="card-body">
      <div class="question" style="">{{currentQuiz}}. {{quiz.Text}}</div><hr />
      <form class=" chosen_{{chosen}}" ng-name="{{quiz.Id}}"  >
      <div class="question" ng-repeat="answer in quiz.Answers">
        <div class="answer_item  answer_{{checkAnswer[$index]}}">
          <input type="radio" ng-model="quiz.Id" name="{{currentSubject}}" ng-value="{{answer.Id}}" ng-click = 'checkAnswerUser(quizId,answer.Id)' />
          <label for="{{answer.Id}}">{{answer.Text}}</label><br>
          {{checked[$index]}}
        </div>

      </div>
      </form><br>

  </div>
<div class="card-footer">MARKS: {{correctCount}} / {{arrQuizs.length}}</div>

</div>
<div class="paging-quiz" >
    <a href="#/subjects/{{currentSubjectId}}/quiz/0"><img src="images/icons/hand-down.png" alt="start page" class="paging-img" title="Start page"/></a>
    <a href="#/subjects/{{currentSubjectIndex}}/quiz/{{prevQuizIndex}}"><img src="images/icons/hand-left.png" alt="left page" class="paging-img" title="Prev page"/></a>
    <a href="#/subjects/{{currentSubjectIndex}}/quiz/{{nextQuizIndex}}"><img src="images/icons/hand-right.png" alt="right page" class="paging-img" title="Next page"/></a>
    <a href="#/subjects/{{currentSubjectId}}/quiz/{{arrQuizs.length - 1}}"><img src="images/icons/hand-up.png" alt="end page" class="paging-img" title="End page"/></a>
</div>
