<div class="card-columns" ng-controller="category-controller">
	<div ng-repeat="category in categories | limitTo : pageSize : (currentPage - 1) * pageSize track by category.Id" ng-class="{lastItem: $last}">
	  <div class="card">
		<a ng-href="#/subjects/{{category.Id}}/quiz/0" class="stretched-link">
			<div class="card-body text-secondary" >
			  <img class="card-img-top" ng-src="images/logos/{{category.Logo}}"/>
			</div>
			
			<div class="card-footer"><small class="text-muted"><center> {{category.Name}} </center></small></div>
		</a>
	  </div>
	</div>
	
	<ul class="phantrang" uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="pageSize"></ul>
</div>s